<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<resultMap type="board" id="boardMap"></resultMap>
	
	<select id="selectBoardList" resultType="board">
		SELECT FILE_NAME, SAVE_DATE , MEMBER_EMAIL FROM TEMPLATE JOIN MEMBER USING(MEMBER_NUM)
	</select>
	
	<select id="selectBoardTotalContents" resultType="_int">
		SELECT COUNT(*) FROM TEMPLATE
	</select>
	
	
	
</mapper>
