@CHARSET "UTF-8";

body, html {
    height: 99%;
    line-height: 1.8;
    font-family: 'Sunflower', sans-serif;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* 메인 첫번째 이미지 */
.bgimg-1 {
    background-image: url('../../images/mainPage/img_sample1.jpg');
    min-height: 100%;
}
/* 메인 두번째 이미지 */
.bgimg-2 {
    background-image: url("../../images/mainPage/img_sample2.jpg");
    min-height: 500px;
}
/* 메인 세번째 이미지 */
.bgimg-3 {
    background-image: url("../../images/mainPage/img_sample4.jpg");
    min-height: 500px;
}
/* 메인 네번째 이미지 */
.bgimg-4 {
    background-image: url("../../images/mainPage/img_sample6.jpg");
    min-height: 500px;
}
.w3-wide {
	letter-spacing: 10px;
}
.w3-hover-opacity {
	cursor: pointer;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}

.w3-row-padding img {margin-bottom: 12px}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/w3images/profile_girl.jpg');
    min-height: 100%;
}
.aa{
	border:1px solid;
}

/* 로그인 페이지 */
.signin-input{
	max-width:700px;
	margin:auto;
}
.signin-sns{
	max-width:500px;
	margin:auto;
}

/* 회원가입 페이지 */
.signup-input{
	max-width:700px;
	margin:auto;
}
.signup-sns{
	max-width:700px;
	margin:auto;
}

/* 기능 소개 페이지 */
.featureBody .carousel-inner img{
	width: 100%;
	height: 900px;
}
.feature-content{
	max-width:1200px;
	margin:auto;
}

/* 메인 페이지 헤더 */
.w3-top img{
	width: auto;
	height: 40px;
}
.mainPage-header{
	font-size:large;
}

/* 메인 페이지 풋터 */
.mainPage-footer li{
	list-style-type: none;
}

/* 결제 페이지 */
.selectUpgrade{
	max-width:1200px;
	margin:auto;
}
.selectUpgrade .choiceUpgrade{
	height: 400px;
}
/* 갤러리 CSS */
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.row-centered {
    text-align:center;
}
iframe { 
	pointer-events: none; 
}
.pagination {
  display: inline-block;
  padding-left: 0px;
  margin: auto;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


